<mtapp:setting
   id="only_pulish_status"
   label="">
  <label><input type="checkbox"<mt:if name="only_pulish_status"> checked="checked"</mt:if> name="only_pulish_status" id="only_pulish_status" /> <__trans phrase="only publish status"></label>
</mtapp:setting>
